@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

/* ===================================== 
    General Styling
======================================== */
* {
	box-sizing: border-box;
}


body {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
  background-color: #474B4F;
  z-index: -2;
  position: relative;
}


html{
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}





/* ===================================== 
   ScrollBar
======================================== */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}





/* ===================================== 
   Header Styling and Layout
======================================== */

header {
  background-image: url("../Images/Nature.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  height: 100vh;
  animation: 4s fadeIn;
  animation-fill-mode: forwards;
}

.headSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.headContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin-top: auto;
}

.name {
  display: block;
  visibility: hidden;
  margin: 0px;
  color: white;
  align-self: center;
  font-family: 'Roboto', serif;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
  overflow: hidden; 
  border-right: .15em solid #86C232;
  white-space: nowrap; 
  margin: 0 auto; 
  animation: 
    typing 3s steps(30, end),
    blink .5s step-end infinite;
  animation-delay: 2s;
}


.bio {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', serif;
  color: #6B6E70;;
  letter-spacing: 2px;
  visibility: hidden;
  overflow: hidden; 
  border-right: .15em solid #86C232;
  white-space: nowrap; 
  margin: 0 auto; 
  animation: 
    typing 3.5s steps(30, end),
    blink .5s step-end infinite;
  animation-delay: 5.5s;
  padding-right: 5px;
}


/* ===================================== 
   About/Skills Page Styling/Layout
======================================== */

.about {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.aboutDiv {
  color: white;
}

.list-group-item {
  background: #222629;
  font-family: 'Roboto', sans-serif;
}

.prog {
  margin: 0 auto;
  justify-content: space-evenly;
  color: #6B6E70;
  display: flex;
  margin-top: 10px;
}

.progList {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  margin-right: 25px;
  font-family: 'Verdana', serif;
}

.progList2 {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  margin-left: 25px;
  font-family: 'Verdana', serif;
}

.progList h4,
.progList2 h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.progList li,
.progList2 li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  z-index: -1;
  height: 100vh;
  background-color: #222629;
}

.skillsDiv {
  margin-top: auto;
}

.skillTitle {
  margin:  100px auto 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.myBio {
  margin: 0 auto;
  max-width: 500px;
  max-height: 300px;
  overflow-y: auto;
  color: #6B6E70;
  font-family: 'Roboto', sans-serif;
}




/* ===================================== 
   Projects Page Styling/Layout
======================================== */

.main-content {
  width: 95%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  position: relative;
  z-index: 0;
  margin: 2em auto;
  padding-top: 50px;
  min-height: 1000px;
}

div.main-content {
  padding-top: 0;
}

.main {
  background-color: #474B4F;
  position: relative;
  z-index: -1;
}

#mainHead {
  padding: 0;
  margin: 0;
  color: white;
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.card {
  display: flex; 
  flex-direction: column;
  background-color: #6B6E70;
  padding: 1.5em 1em;
  border: 1px solid #6B6E70;
  border-radius: 0.5em;
}

.card h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white; 
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 5px;
}

.card-buttons a {
  font-family: 'Roboto', sans-serif;
}

.card-buttons {
  justify-content: flex-end;
}

.btn {
  font-size: 0.85em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  background-color: #86C232;
  border-radius: 0.35em;
  width: 125px;
  margin-top: 50px;
  text-decoration: none;
}

.btn:hover {
  background-color: #61892F;
  color: white !important;
}

i {
  text-align: center;
  padding: 1px;
  color: #86C232;
}

i:hover {
  color: #61892F;
  cursor: pointer;
}

.toDoList,
.recipeImg {
  height: 300px;
  border-radius: 0.5em;
}

.toDoList:hover,
.recipeImg:hover {
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 7px 10px 20px rgba(0,0,0,.9);
}





/* ======================================================== 
   Social Media, Resume, and Email Icons and Text Styling
=========================================================== */

.socialMedia {
  animation-fill-mode: forwards;
  padding-top: 10px;
}
.socialMedia a {
  font-size: 40px;
  color: #86C232;
}

.socialMedia a:hover {
  color: #61892F;
  cursor: pointer;
}

.socialMedia a span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: none;
}

.resume,
.email,
.github,
.linkedin {
  font-size: 10px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
}

#GH {
  animation: 2.5s slideInLeft;
}

#LI {
  animation: 2.5s slideDown;
}

#RE {
  animation: 2.5s slideUp;
}

#EM {
  animation: 2.5s slideInRight;
}





/* ===================================== 
   Modal's
======================================== */

.modal-title {
  font-family: 'Roboto', serif;
  font-weight: 500;
}

.modal-body p {
  font-family: 'Roboto', serif;
  margin: auto 0;
}

.close {
  font-size: 50px;
  padding: 0 !important;
  padding-right: 5px !important;
}

.toDoListModal {
  width: 100%;
  border-radius: 0.5em;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

.recipeModal {
  width: 100%;
  height: 350px;
  border-radius: 0.5em;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

.carousel-caption h5,
.carousel-caption p{
  color: black;
  font-family: 'Roboto', serif;
  font-weight: 400;
}

.carousel-caption h5 {
  font-size: 15px;
}

.carousel-caption p {
  font-weight: 300;
  font-size: 12px;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  filter: invert(100%);
}

.carousel-item img {
  height: 350px;
  border-radius: 0.5em;
}

.recipeCaption {
  background: rgba(0,0,0,.5);
  color: white !important;
  border-radius: 0.5em;
}


/* ===================================== 
   Navbar
======================================== */

.navbar {
  animation: 2.5s slideInLeft2;
  background-color: rgba(255, 255, 255,) !important;
}

.navbar a {
  color: #6B6E70 !important;
  transition: 0.25s;
  z-index: 5;
}

.navbar a:hover {
  cursor: pointer;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  transition: 0.25s;
  padding: 0;
  padding-bottom: 10px;
}

.navbar-toggler {
  animation: 2s slideInLeft2;
}

.nav-item a {
  font-family: 'Roboto', sans-serif;
}

.navbar a.activeLink {
  color: white !important;
  font-weight: bold;
  border-bottom: 5px solid white;
  transition: 0.25s;
  padding: 0;
  padding-bottom: 5px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  border-color: white;
}

.navbar-light .navbar-toggler:focus {
  border-color: white;
}





/* ===================================== 
   Scroll Down/Up Arrows
======================================== */

.scrollDown,
.scrollDown2,
.scrollUp {
  display: none;
  margin-top: auto;
  color: white;
  font-family: 'Roboto', serif;
  letter-spacing: 2px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  font-size: 50px;
  font-family: 'Roboto', serif;
}

.scrollUp {
  font-size: 52px;
}

.scrollDown:hover,
.scrollDown2:hover,
.scrollUp:hover{
  cursor: pointer;
}

.scrollDown2 {
  margin-bottom: 45px;
}

.scrollDown {
  margin-bottom: 3px;
}

.section1 {
  font-size: 75px;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
  margin-top: auto;
}

.section2 {
  font-size: 75px;
  margin-top: auto;
  margin-bottom: 45px;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
}

.backTo1 {
  font-size: 75px;
  position: relative;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
}

/* ===================================== 
   Tooltips
======================================== */

.tooltip .tooltip-inner {
  background-color: #474B4F;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.tooltip .arrow::before {
  border-bottom-color: #474B4F;
  border-top-color: #474B4F;
}






/* ===================================== 
   Media Queries
======================================== */

@media screen and (max-width: 768px) {
    .section1 {
      display: none;
    }

    .section2 {
      display: none;
    }

    .backTo1 {
      display: none;
    }

    .section1::before,
    .section2::before,
    .backTo1::before {
      display: none;
    }

    .aboutDiv {
      grid-row: 1;
    }

    .skillTitleDiv {
      margin-top: auto;
    }

    .prog {
      margin-top: auto;
    }

    body {
      overflow: hidden;
    }

    .toDoListModal {
      width: 100%;
      border-radius: 0.5em;
      display: block;
      margin: 0 auto;
    }

   

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section1 {
      display: none;
    }

    .section2 {
      display: none;
    }

    .backTo1 {
      display: none;
    }

    .scrollUp:before,
    .scrollDown:before,
    .scrollDown2:before {
      display: none;
    }

    .section1::before,
    .section2::before,
    .backTo1::before {
      display: none;
    }

    .aboutDiv {
      grid-row: 1;
    }

    .skillTitleDiv {
      margin-top: auto;
    }

    .prog {
      margin-top: auto;
    }

    body {
      overflow: hidden;
    }

    .toDoListModal {
      width: 100%;
      border-radius: 0.5em;
      display: block;
      margin: 0 auto;
    }

    .none {
      display: none;
    }
    
}

@media (max-width: 800px) and (orientation: landscape) {
    .skillsDiv {
      height: 350px;
    }
    
    .skillTitle {
      margin-top: 0;
    }

    .myBio {
      line-height: 95%;
      overflow: hidden;
    }

    .about {
      margin-bottom: 2px;
      margin-top: auto;
    }

    .toDoListModal {
      width: 325px;
      border-radius: 0.5em;
      display: block;
      margin: 0 auto;
    }

    .none {
      display: none;
    }
    
  }


@media screen and (max-width: 1200px) { 

  header {
    background-image: url("../Images/NatureMobile.png");
  }

  .navbar a.activeLink {
    border: none;
  }

  .socialMedia a span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: block;
  }
  
  .resume,
  .email,
  .github,
  .linkedin {
    font-size: 10px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: block;
  }

  .tooltip {
    display: none !important;
  }
}



/* ===================================== 
   Animations
======================================== */

/* The typing effect */
@keyframes typing {
  0% {
   width: 0;
   visibility: hidden;
  }
  100% {
   width: 100%;
   visibility: visible;
  }
 }
 
 /* The typewriter cursor effect */
 @keyframes blink{
   from, to { border-color: transparent }
   50% { border-color: #86C232 }
 }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% { 
    transform: translateX(1000px) rotateY(360deg);
  }
  80% {
    transform: translateX(-5px);
  }
   100% {
    transform: translateX(0px) rotateY(0deg);
  }
}

@keyframes slideInRight2 {
  0% { 
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(-5px);
  }
   100% {
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  0% { 
    transform: translateX(-1000px) rotateY(360deg);
  }
  80% {
    transform: translateX(5px);
  }
   100% {
    transform: translateX(0px) rotateY(0deg);
  }
}

@keyframes slideInLeft2 {
  0% { 
    transform: translateX(-2500px);
  }
   100% {
    transform: translateX(0px);
  }
}

@keyframes slideDown {
  0% { 
    transform: translateY(-500px) rotateY(360deg);
  }
  80% {
    transform: translateY(5px);
  }
   100% {
    transform: translateY(0px) rotateY(0deg);
  }
}

@keyframes slideUp {
  0% { 
      transform: translateY(500px) rotateY(360deg);
  }
  80% {
    transform: translateY(-5px);
  }
   100% {
    transform: translateY(0px) rotateY(0deg);
  }
}

@keyframes slideUp2 {
  0% { 
      transform: translateY(500px);
  }
  80% {
    transform: translateY(-5px);
  }
   100% {
    transform: translateY(0px);
  }
}