@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ===================================== 
   ScrollBar
======================================== */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* ===================================== 
   Grid & Flexbox Layout
======================================== */

.main-content {
  width: 95%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}

div.main-content {
  padding-top: 0;
}

.card {
 display: flex; 
 flex-direction: column;
 background-color: white;
}

.btn {
 margin-top: auto;
 align-self: center;
}


.skills {
  display: flex;
  /*grid-template-columns: repeat(1, minmax(280px, 1fr));
  grid-template-rows: repeat(7, minmax(100px, 1fr));
  grid-gap: 20px;
  grid-auto-columns: 0px;*/
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.prog {
  /*grid-row: 4;
  grid-column: 1;*/
  /*display: flex;*/
  margin: 0 auto;
  justify-content: center;
}

.aboutDiv {
  grid-row: 2;
}

.myBio {
  margin: 0 auto;
  max-width: 500px;
  max-height: 300px;
  overflow-y: auto;
}

.skillTitle {
  margin: 0 auto;
  margin-top: 100px;
}

.skillTitleDiv {
  display: flex;
  grid-row: 3;
  grid-column: 1;
}

.section1 {
  font-size: 75px;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
  align-self: : flex-end;
  /*top: 200px;
  position: relative;*/
  margin-top: auto;
}

.section2 {
  font-size: 75px;
  margin-top: auto;
  margin-bottom: 45px;
}

.backTo1 {
  font-size: 75px;
  position: relative;
}

.backTo1Div {
  grid-row: 3;
  grid-column-start: 1;
  column-span: all
}

.headSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.card-buttons {
  justify-content: flex-end;
}


.socialMedia {
  animation: 2.5s spin;
  animation-fill-mode: forwards;
  padding-top: 10px;
}

.headContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin-top: auto;
}

.headBottom {
  align-items: flex-end;
  margin: 0 auto;
}

.nameDiv {
  align-items: center;
}

.bioDiv {
  align-items: flex-end;
}

.skillsDiv {
  margin-top: auto;
}


/* ===================================== 
   Page Styles
======================================== */

* {
	box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.5;
	font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
  background-color: #aad2ed;
  overflow-x: hidden;
}


html{
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: #278da4;
  text-decoration: none;
}

h1 {
  font-family: 'Bree Serif', serif;
}

p {
  margin-bottom: 1.25em;
  flex-grow: 1;
}

.main-content {
  margin: 2em auto;
  padding-top: 50px;
  min-height: 1000px;
}

.fab,
.fas {
  transition: .5s;
}

.card {
  padding: 1.5em 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.5em;
}

.card h1 {
  color: #278da4; 
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 5px;
}

.btn {
  font-size: 0.85em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  background-color: #278da4;
  border-radius: 0.35em;
  display: inline-block;
  width: 125px;
  margin-top: 50px;
}

.btn:hover {
  background-color: rgba(39, 141, 164, 0.8);
}

.material-icons {
  color: rgba(39, 141, 164, 0.8); 
  font-size: 2.1em;
}


footer {
  background-color: #fbaea8;
  height: 50px;
}

i{
  text-align: center;
  padding: 1px;
  color: #278da4;
}

i:hover {
  color: rgba(39, 141, 164, 0.8);
  cursor: pointer;
}

.socialMedia a {
  font-size: 40px;
}

.socialMedia a:hover {
  color: rgba(39, 141, 164, 0.8);
  cursor: pointer;
}

.fa-file{
  font-size: 38px;
}

.socialMedia i {
  font-size: 40px;
}

header {
  background-image: url("../Images/Nature4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  height: 100vh;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
}

.skills {
  height: 100vh;
  background-color: #C3E7FF;
}

.progList {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  margin-right: 25px;
  font-family: 'Verdana', serif;
  justify-content: center;
}

.progList2 {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  margin-left: 25px;
  font-family: 'Verdana', serif;
}

h3 {
  text-align: center;
}

h4 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.name {
  display: block;
  margin: 0px;
  color: white;
  align-self: center;
  font-family: 'Roboto', serif;
  text-align: center;
  letter-spacing: 2px;
  animation: 2.5s spin;
  animation-fill-mode: forwards;
}

.bio {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', serif;
  color: white;
  letter-spacing: 2px;
  animation: 2.5s spin;
  animation-fill-mode: forwards;
}


img {
  flex-grow: 1;
}

.toDoList,
.toDoList2,
.toDoList3,
.toDoList4 {
  height: 300px;
  border-radius: 0.5em;
}

.toDoList:hover,
.toDoList2:hover,
.toDoList3:hover,
.toDoList4:hover {
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0 2px 10px rgba(0,0,0,.9);
}


/* ===================================== 
   Modal's
======================================== */

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  height: 620px;
  width: 750px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  /*display: flex;*/
  /*margin: 0 auto;*/
}

.close i{
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 25px;
  color: lightgrey;
  cursor: pointer;
  margin-bottom: 1000px;
}

.close i:hover {
  color: grey;
}

.toDoListModal {
  width: 700px;
  border-radius: 0.5em;
  display: block;
  margin: 0 auto;
}

.modalP {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  font-family: 'Raleway', sans-serif;
}

.none {
  display: none;
}


/* ===================================== 
   Media Queries
======================================== */

@media screen and (max-width: 768px) {
    .section1 {
      display: none;
    }

    .section2 {
      display: none;
    }

    .backTo1 {
      display: none;
    }

    .section1::before,
    .section2::before,
    .backTo1::before {
      display: none;
    }

    .aboutDiv {
      grid-row: 1;
    }

    .skillTitleDiv {
      margin-top: auto;
    }

    .prog {
      margin-top: auto;
    }

    body {
      overflow: hidden;
    }

    .bg-modal {
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      display: none;
      justify-content: center;
      align-items: center;
    }

    .modal-contents {
      height: 400px;
      width: 300px;
      background-color: white;
      text-align: center;
      padding: 20px;
      position: relative;
      border-radius: 4px;
    }

    .close i{
      position: absolute;
      top: 0;
      right: 5px;
      font-size: 25px;
      color: lightgrey;
      cursor: pointer;
      margin-bottom: 1000px;
    }

    .close i:hover {
      color: grey;
    }

    .toDoListModal {
      width: 250px;
      border-radius: 0.5em;
      display: block;
      margin: 0 auto;
    }

    .modalP {
      padding-top: 10px;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      font-family: 'Raleway', sans-serif;
    }

    .none {
      display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section1 {
      display: none;
    }

    .section2 {
      display: none;
    }

    .backTo1 {
      display: none;
    }

    .section1::before,
    .section2::before,
    .backTo1::before {
      display: none;
    }

    .aboutDiv {
      grid-row: 1;
    }

    .skillTitleDiv {
      margin-top: auto;
    }

    .prog {
      margin-top: auto;
    }

    body {
      overflow: hidden;
    }

    .bg-modal {
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      display: none;
      justify-content: center;
      align-items: center;
    }

    .modal-contents {
      height: 600px;
      width: 700px;
      background-color: white;
      text-align: center;
      padding: 20px;
      position: relative;
      border-radius: 4px;
    }

    .close i{
      position: absolute;
      top: 0;
      right: 5px;
      font-size: 25px;
      color: lightgrey;
      cursor: pointer;
      margin-bottom: 1000px;
    }

    .close i:hover {
      color: grey;
    }

    .toDoListModal {
      width: 650px;
      border-radius: 0.5em;
      display: block;
      margin: 0 auto;
    }

    .modalP {
      padding-top: 10px;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      font-family: 'Raleway', sans-serif;
    }

    .none {
      display: none;
    }
}
}



/* ===================================== 
   Animations
======================================== */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}